@model PersonResponse

<h1>Delete Person</h1>
<a asp-controller="Persons" asp-action="Index">Back to List</a>
<h1>Are you sure to Delete...</h1>
<div class="w-50">
	<form asp-controller="Persons" asp-action="Delete"  method="post">
		<input type="hidden" asp-for="PersonID"/>
		<div class="form-field flex">
			<div class="w-25">
				<label asp-for="PersonName" class="form-label pt">Name</label>
			</div>
			<div class="flex-1">
				<input asp-for="PersonName"  class="form-input" disabled="disabled"  />
				<span asp-validation-for="PersonName" class="text-red"></span>
			</div>
		</div>
		
		<div class="form-field flex">
			<div class="w-25">
			</div>
			<div class="flex-1">
				<div asp-validation-summary="All"></div>
				<button class="button button-red-back">Delete</button>
				<a asp-controller="Persons" asp-action="Index">Cancel</a>
				
				
			</div>

		</div>

</form>
</div>

